# Verification

I implemnted all the featrues mentioned in the README.md file
